body {
    background-color: #e8f2f9; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #33415c; 
}

.navbar {
    background-color: #a2d2ff; 
    color: white;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1); 
}


.container {
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 10px 20px rgba(162, 210, 255, 0.15); 
    border: 1px solid #d6e8f9;
}

.card h2 {
    margin-top: 0;
    color: #5c95c9; 
    border-bottom: 2px dashed #a2d2ff;
    padding-bottom: 10px;
}


.input-group {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

input, select {
    flex: 1;
    padding: 12px;
    border: 1.5px solid #c9e4ff;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
    color: #33415c;
}